*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;
}

/* global repeatable settings */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ---------------------------*/

/* header settings */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 1158px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* navigation links & LOGO */

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-dark {
    color: #2e2f42;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
    gap: 40px;
    display: flex;
}

.link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    text-decoration: none;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    content: "";
    background-color: #404bbf;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.link:hover,
:active,
:focus {
    color: #404bbf;
}

/* address list */

.address-list {
    gap: 40px;
    display: flex;
    align-items: center;
}

.a-link {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a-link:hover,
:active,
:focus {
    color: #404bbf;
}

/* hero image & main button */

.hero {
    background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 188px 0;
    margin: 0 auto;
}

.hero > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.hero-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}

.main-button {
    background-color: #4d5ae5;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    display: block;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:active,
.main-button:focus {
    background-color: #404bbf;
}

/*section four features starts here */

.features {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feature-list {
    display: flex;
    gap: 24px;
}
.advantage-list-item {
    width: calc((100% - 72px) / 4);
}

.feature-icon-list {
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4f4fd;
}

.advantage-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantage-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* section our team */

.our-team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.main-header-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
    text-transform: capitalize;
    text-align: center;
}

.team-list {
    display: flex;
    gap: 24px;
}

.card-member {
    background-color: #ffffff;
    text-align: center;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.member-details {
    padding: 32px 0;
}

.member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.card-member-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.member-card-social-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.member-icon-list {
    width: 40px;
    height: 40px;
}

.social-icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    border-radius: 50%;
}

.social-icon {
    fill: #f4f4fd;
}
.social-icon-link:hover,
.social-icon-link:focus {
    background-color: #404bbf;
}

/* section our portfolio */

.our-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
}

.portfolio-card {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.portfolio-card:hover, .portfolio-card:focus{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-image {
    position: relative;
    overflow: hidden;
}

.project-card-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.add-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4c59e6e6;
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
    padding: 40px 32px;
    position: absolute;
    top: 0;
}

.portfolio-card:hover .add-text {
    transform: translateY(0%);
}

.gallery-item-names {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.project-card-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

/* footer section */

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-container {
    display: flex;
    align-items: baseline;
}
.footer-margin {
    margin-right: 120px;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-bright-text {
    color: #f4f4fd;
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 500px;
    line-height: 1.5;
    width: 264px;
    margin-bottom: 16px;
}

.logo-white {
    color: #f4f4fd;
}

.footer-media-text {
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-ikon-area {
    display: flex;
    gap: 16px;
}

.footer-social-ikon {
    width: 40px;
    height: 40px;
}

.footer-media-link {
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-media-link:hover,
.footer-media-link:focus {
    background-color: #31d0aa;
}

.footer-icon-look {
    fill: #f4f4fd;
}

/* footer SUBSCRIBE PART */

.subscribe {
    margin-left: 100px;
}
.subscribe-area {
    gap: 24px;
    display: flex;
}
.inputs {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    width: 264px;
    height: 40px;
    letter-spacing: 0.04em;
    line-height: 2;
    border-radius: 4px;
    padding-left: 16px;
    color: #fff;
    border: 1px solid #fff;
    align-content: center;
    align-items: baseline;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: transparent;
}
.subscribe-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    height: 40px;
    margin-left: 24px;
    padding: 8px 24px;
    border-radius: 4px;
    min-width: 165px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    background-color: #4d5ae5;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: #4d5ae5;
}
.subscribe-icon {
    margin-left: 16px;
    fill: white;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*----------MODAL SIDE----------*/

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;

    border-radius: 4px;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*? backdrop */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;

    pointer-events: none;
}
.button-close {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #e7e9fc;
    fill: #2e2f42;
}
.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.instrutcion-text {
    color: #2e2f42;
    font-weight: 500;
    margin-bottom: 16px;
    text-align: center;
}
.data-form-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.data-space {
    margin-bottom: 8px;
}
.data-details {
    font-family: "Roboto", sans-serif;
    color: #8e8f99;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    padding: 0;
    display: block;
    margin-bottom: 4px;
    letter-spacing: 0.04em;
}
.data-field {
    width: 100%;
    height: 40px;
    position: relative;
}

.data-input-area {
    width: 100%;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    outline: transparent;
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.data-input-area:focus {
    border-color: #4d5ae5;
}
.comment-area {
    margin-bottom: 16px;
}
.comment-box {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    width: 100%;
    height: 120px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    text-align: start;
    resize: none;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-box:focus-within {
    border-color: #4d5ae5;
}

.comment-box::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}
.accept {
    display: flex;
    margin-bottom: 24px;
}
.privacy-check {
    cursor: pointer;
}
.privacy-check:checked .ikon-privacy,
.privacy-check:focus .ikon-privacy,
input[type="checkbox"]:checked .ikon-privacy {
    fill: #f4f4fd;
    border: none;
    background-color: #404bbf;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    position: absolute;
    overflow: hidden;
}
.privacy-area {
    width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-send {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    color: #ffffff;
    background-color: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 24px auto;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-link {
    color: #4d5ae5;
}